@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Nunito");
@keyframes bouncer {
  from {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.4);
    margin-left: 90px; }
  60% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.4);
    margin-left: 30px; }
  85% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.4);
    margin-left: 15px; }
  95% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.4);
    margin-left: 5px; }
  45%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    margin-left: 0; } }

@keyframes vanish {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

pre {
  font-family: "Inconsolata", monospace; }

abbr {
  text-decoration: none;
  border-bottom: 0.05em dotted #999; }

* {
  margin: 0;
  padding: 0; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100vw; }
  .main h1 {
    margin: 0 2em 0.25em 0; }
  .main .range {
    margin: 0 0 0.25em 0.2em; }
    .main .range::after {
      content: "  ⟵ enter IP address or handle";
      color: #999;
      animation: bouncer 2s, vanish 0.5s ease 10s forwards; }
    .main .range input {
      font-size: large; }

nav {
  color: white;
  background-color: #003D5E;
  margin: 0;
  padding: 0.75em; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      list-style-type: none; }
      nav ul li img {
        margin-bottom: -0.9em;
        height: 2.7em; }

.object {
  margin: 5em; }

.historyPane {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100vw;
  min-width: 0;
  min-height: 0;
  height: 100%; }
  .historyPane .objectList {
    background-color: #f4f4f4;
    margin: 0;
    padding: 1em 0 0 0;
    border-right: 1px solid #e5e3e3;
    font-size: small;
    list-style: none;
    overflow-y: auto;
    cursor: default;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0; }
    .historyPane .objectList li {
      padding: 0.25em 1em;
      margin: 0; }
      .historyPane .objectList li:hover {
        background-color: #cfcfcf; }
      .historyPane .objectList li.selected {
        background-color: #a9c1d6; }
  .historyPane .detailPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap; }
  .historyPane .navPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    flex: 0 0 auto;
    width: 6em; }
    .historyPane .navPanel .navPanelItem {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-items: center; }
  .historyPane .detailCenterPanel {
    flex: 5 1 auto; }
  .historyPane .versionDatesPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;
    color: white;
    background-color: #006FAB;
    height: 1.2em;
    align-items: center; }
    .historyPane .versionDatesPanel .versionDateItem, .historyPane .versionDatesPanel .versionDateLeft, .historyPane .versionDatesPanel .versionDateCenter, .historyPane .versionDatesPanel .versionDateRight {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      flex: 1;
      justify-content: center; }
    .historyPane .versionDatesPanel .versionDateLeft span {
      margin-right: auto; }
    .historyPane .versionDatesPanel .versionDateRight span {
      margin-left: auto; }
    .historyPane .versionDatesPanel .moreIconSvg {
      fill: white;
      width: 0.8em;
      height: 0.8em;
      margin-right: 0.3em;
      margin-left: 0.3em; }
  .historyPane .diffPanel {
    flex: 1 1 auto; }
  .historyPane .arrowButton {
    flex: 0 0 auto;
    align-self: center;
    border: none;
    background: transparent;
    outline: none; }
    .historyPane .arrowButton:enabled {
      transition-duration: 0.3s; }
      .historyPane .arrowButton:enabled path {
        transition: stroke-width 0.5s ease-in-out, stroke 0.3s ease-out; }
        .historyPane .arrowButton:enabled path:hover {
          stroke-width: 13; }
        .historyPane .arrowButton:enabled path:active {
          stroke: rgba(0, 0, 0, 0.5);
          stroke-width: 3; }
    .historyPane .arrowButton:disabled {
      transition-duration: 0.3s;
      opacity: 0.4;
      cursor: not-allowed; }
  .historyPane .arrow, .historyPane .rightArrow, .historyPane .leftArrow {
    stroke: black; }
  .historyPane .leftArrow {
    transform: rotate(180deg); }
  .historyPane .lockButton, .historyPane .lockedButton, .historyPane .unlockedButton {
    flex: 0 0 auto;
    margin-top: 1em;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    transition-duration: 0.3s; }
  .historyPane .lockedButton {
    fill: #732a2a; }
    .historyPane .lockedButton:hover {
      fill: #006FAB; }
  .historyPane .unlockedButton {
    fill: black; }
    .historyPane .unlockedButton:hover {
      fill: #006FAB; }

.rdap, .rdap-was, .rdap-is {
  padding-top: 0.5em;
  font-family: "Nunito", "Arial", sans-serif; }
  .rdap table, .rdap-was table, .rdap-is table {
    border-collapse: collapse;
    margin: auto; }
  .rdap td, .rdap-was td, .rdap-is td {
    padding: 0 0.15em; }
  .rdap td:first-child, .rdap-was td:first-child, .rdap-is td:first-child {
    vertical-align: top;
    font-family: "Nunito", "Arial", sans-serif;
    color: #8c8c8c;
    text-align: right;
    padding-right: 1em; }
  .rdap .spacer td, .rdap-was .spacer td, .rdap-is .spacer td {
    padding: 0.2em; }

.rdap-was .diff-modified {
  background-color: #ffffdd; }
  .rdap-was .diff-modified td:first-child:before {
    width: 1em;
    content: "!";
    float: left;
    text-align: left; }

.rdap-was .diff-new {
  color: transparent;
  background-color: #f4f4f4; }
  .rdap-was .diff-new td:first-child {
    color: transparent; }
  .rdap-was .diff-new a {
    display: none; }

.rdap-was .diff-unchanged td:first-child:before {
  width: 1em;
  content: " ";
  float: left;
  text-align: left; }

.rdap-was .diff-deleted {
  background-color: #ffdce0; }
  .rdap-was .diff-deleted td:first-child:before {
    width: 1em;
    content: "-";
    float: left;
    text-align: left; }

.rdap-was .diff-word-new {
  display: none; }

.rdap-was .diff-word-deleted {
  background-color: #ffff00; }

.rdap-is .diff-modified {
  background-color: #ffffdd; }
  .rdap-is .diff-modified td:first-child:before {
    width: 1em;
    content: "!";
    float: left;
    text-align: left; }

.rdap-is .diff-new {
  background-color: #ddffdd; }
  .rdap-is .diff-new td:first-child:before {
    width: 1em;
    content: "+";
    float: left;
    text-align: left; }

.rdap-is .diff-unchanged td:first-child:before {
  width: 1em;
  content: " ";
  float: left;
  text-align: left; }

.rdap-is .diff-deleted {
  color: transparent;
  background-color: #f4f4f4; }
  .rdap-is .diff-deleted td:first-child {
    color: transparent; }
  .rdap-is .diff-deleted a {
    display: none; }

.rdap-is .diff-word-new {
  background-color: #ffff00; }

.rdap-is .diff-word-deleted {
  display: none; }

.diffPanel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  padding-top: 1em; }
  .diffPanel .diffPanelItem {
    flex: 1;
    display: inline-block;
    padding: 0 0.7em; }
  .diffPanel .diffPanelItem:first-child .diff {
    border-left: none; }
  .diffPanel .diff {
    display: inline-block;
    border-left: 1px dashed black;
    padding-left: 1.2em;
    margin: 1em;
    white-space: pre;
    font-family: "Inconsolata", monospace;
    font-size: 80%;
    vertical-align: top; }
    .diffPanel .diff .changed {
      background-color: #ffffdd; }
    .diffPanel .diff .added {
      background-color: #ddffdd; }
    .diffPanel .diff .removed::before {
      margin-left: -1.1em;
      position: relative;
      top: -0.6em;
      content: '▶';
      color: #cc4444; }
    .diffPanel .diff .removed {
      height: 2px;
      display: block;
      background-color: #cc4444; }

.clearfix {
  clear: both; }

.timeline {
  width: 100%;
  height: 1em;
  stroke: none; }
  .timeline .empty {
    fill: #eee; }
  .timeline .existed {
    stroke: #999;
    fill: #97df81; }
    .timeline .existed:hover {
      fill: #b9e9aa; }

.logo {
  transform: scale(0.7, 0.7); }
