@import url('https://fonts.googleapis.com/css?family=Inconsolata|Nunito')

$fixed-font: 'Inconsolata', monospace
$title-font: 'Nunito', 'Arial', sans-serif
$detail-font: 'Nunito', 'Arial', sans-serif
$existed: rgb(151, 223, 129)

=prefixed($name, $value)
    -webkit-#{$name}: $value
    -moz-#{$name}: $value
    -ms-#{$name}: $value
    #{$name}: $value

=flex($direction: row)
    display: -webkit-box
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flexbox
    display: flex
    +prefixed(flex-direction, $direction)

=flex-grow($factor: 0)
    +prefixed(flex-grow, $factor)

=flex-shrink($factor: 0)
    +prefixed(flex-shrink, $factor)

@keyframes bouncer
    from
        animation-timing-function: cubic-bezier(.5,0,1,0.4)
        margin-left: 90px
    60%
        animation-timing-function: cubic-bezier(.5,0,1,.4)
        margin-left: 30px
    85%
        animation-timing-function: cubic-bezier(.5,0,1,.4)
        margin-left: 15px
    95%
        animation-timing-function: cubic-bezier(.5,0,1,.4)
        margin-left: 5px
    45%,75%,90%,to
        animation-timing-function: cubic-bezier(0,.25,.5,1)
        margin-left: 0

@keyframes vanish
    0%
        opacity: 1
    100%
        opacity: 0

pre
    font-family: $fixed-font

abbr
    text-decoration: none
    border-bottom: 0.05em dotted #999

*
    margin: 0
    padding: 0

.main
    +flex(column)
    height: 100vh
    width: 100vw
    h1
        margin: 0 2em 0.25em 0
    .range
        margin: 0 0 0.25em 0.2em
        &::after
            content: "  ⟵ enter IP address or handle"
            color: #999
            animation: bouncer 2s, vanish 0.5s ease 10s forwards
        input
            font-size: large

nav
    color: white
    background-color: #003D5E
    margin: 0
    padding: 0.75em

    ul
        margin: 0
        padding: 0

        li
            display: inline-block
            list-style-type: none

            img
                margin-bottom: -0.9em
                height: 2.7em

.object
    margin: 5em

.historyPane
    +flex
    width: 100vw
    min-width: 0
    min-height: 0
    height: 100%

    .objectList
        background-color: #f4f4f4
        margin: 0
        padding: 1em 0 0 0
        border-right: 1px solid #e5e3e3
        font-size: small
        list-style: none
        overflow-y: auto
        cursor: default
        +flex-shrink(0)

        li
            padding: 0.25em 1em
            margin: 0
            &:hover
                background-color: #cfcfcf
            &.selected
                background-color: #a9c1d6

    .detailPanel
        +flex
        //padding: 1em
        //background: #fafafa
        width: 100%
        overflow: hidden
        flex-wrap: nowrap

    .navPanel
        +flex(column)
        height: 100%
        flex: 0 0 auto
        width: 6em

        .navPanelItem
            +flex(column)
            flex: 1
            justify-content: flex-start
            align-items: center


    .detailCenterPanel
        flex: 5 1 auto

    .versionDatesPanel
        +flex
        overflow: hidden
        flex-wrap: nowrap
        color: white
        background-color: #006FAB
        height: 1.2em
        align-items: center

        .versionDateItem
            +flex
            flex: 1
            justify-content: center

        .versionDateLeft
            @extend .versionDateItem
            span
                margin-right: auto

        .versionDateCenter
            @extend .versionDateItem

        .versionDateRight
            @extend .versionDateItem
            span
                margin-left: auto
        .moreIconSvg
            fill: white
            width: 0.8em
            height: 0.8em
            margin-right: 0.3em
            margin-left: 0.3em

    .diffPanel
        flex: 1 1 auto

    .arrowButton
        flex: 0 0 auto
        align-self: center
        border: none
        background: transparent
        outline: none

        &:enabled
            transition-duration: 0.3s
            path
                transition: stroke-width 0.5s ease-in-out, stroke 0.3s ease-out
                &:hover
                    stroke-width: 13
                &:active
                    stroke: rgba(0, 0, 0, 0.5)
                    stroke-width: 3
        &:disabled
            transition-duration: 0.3s
            opacity: 0.4
            cursor: not-allowed

    .arrow
        stroke: black

    .rightArrow
        @extend .arrow

    .leftArrow
        @extend .arrow
        transform: rotate(180deg)

    .lockButton
        flex: 0 0 auto
        margin-top: 1em
        height: 30px
        width: 30px
        background-color: transparent
        border: none
        fill: black

.rdap
    // padding: 0 0.5em
    padding-top: 0.5em
    font-family: $detail-font
    table
        border-collapse: collapse
        margin: auto
    td
        padding: 0 0.15em
    td:first-child
        vertical-align: top
        font-family: $title-font
        color: rgb(140, 140, 140)
        text-align: right
        padding-right: 1em

    .spacer td
        padding: 0.2em

.versions
    +flex
    overflow: hidden
    flex-wrp: nowrap
    height: 100%
    justify-content: center

    .version
        flex: 1
        display: inline-block
        padding: 0 0.7em

    .version:first-child .diff
        border-left: none
    .diff
        display: inline-block
        border-left: 1px dashed black
        padding-left: 1.2em
        margin: 1em
        white-space: pre
        font-family: $fixed-font
        font-size: 80%
        vertical-align: top

        .changed
            background-color: #ffffdd
        .added
            background-color: #ddffdd
        .removed::before
            margin-left: -1.1em
            position: relative
            top: -0.6em
            content: '▶'
            color: #cc4444
        .removed
            height: 2px
            display: block
            background-color: #cc4444

.clearfix
    clear: both

.timeline
    width: 100%
    height: 1em
    stroke: none

    .empty
        fill: #eee

    .existed
        stroke: #999
        fill: $existed
        &:hover
            fill: lighten($existed, 10%)

=floaty($char)
    td:first-child:before
        width: 1em
        content: $char
        float: left
        text-align: left

.diff-modified
    background-color: #ffffdd
    +floaty("!")
.diff-new
    background-color: #ddffdd
    +floaty("+")
.diff-unchanged
    +floaty(" ")

.logo
    transform: scale(0.7, 0.7)
