@import url('https://fonts.googleapis.com/css?family=Inconsolata|Nunito')

$fixed-font: 'Inconsolata', monospace
$title-font: 'Nunito', 'Arial', sans-serif
$detail-font: 'Nunito', 'Arial', sans-serif
$existed: rgb(151, 223, 129)

=prefixed($name, $value)
    -webkit-#{$name}: $value
    -moz-#{$name}: $value
    -ms-#{$name}: $value
    #{$name}: $value

=flex($direction: row)
    display: -webkit-box
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flexbox
    display: flex
    +prefixed(flex-direction, $direction)

=flex-grow($factor: 0)
    +prefixed(flex-grow, $factor)

=flex-shrink($factor: 0)
    +prefixed(flex-shrink, $factor)

@keyframes bouncer
    from
        animation-timing-function: cubic-bezier(.5,0,1,0.4)
        margin-left: 90px
    60%
        animation-timing-function: cubic-bezier(.5,0,1,.4)
        margin-left: 30px
    85%
        animation-timing-function: cubic-bezier(.5,0,1,.4)
        margin-left: 15px
    95%
        animation-timing-function: cubic-bezier(.5,0,1,.4)
        margin-left: 5px
    45%,75%,90%,to
        animation-timing-function: cubic-bezier(0,.25,.5,1)
        margin-left: 0

@keyframes vanish
    0%
        opacity: 1
    100%
        opacity: 0
    
pre
    font-family: $fixed-font

abbr
    text-decoration: none
    border-bottom: 0.05em dotted #999

*
    margin: 0
    padding: 0

.main
    +flex(column)
    height: 100vh
    width: 100vw
    h1
        margin: 0 2em 0.25em 0
    .range
        margin: 0 0 0.25em 0.2em
        &::after
            content: "  ⟵ enter IP address or handle"
            color: #999
            animation: bouncer 2s, vanish 0.5s ease 10s forwards
        input
            font-size: large

nav
    background-color: #eee
    margin: 0

    ul
        margin: 0
        padding: 0

        li
            display: inline-block
            list-style-type: none

            img
                margin-bottom: -0.9em
                height: 2.7em

.object
    margin: 5em

.historyPane
    +flex
    width: 100vw
    border-top: 2px solid black
    min-width: 0
    min-height: 0
    height: 100%

    .objectList
        margin: 0
        padding: 1em 0 0 0
        border-right: 2px solid black
        font-family: $fixed-font
        font-size: small
        list-style: none
        overflow-y: scroll
        +flex-shrink(0)

        li
            padding: 0.25em 1em
            margin: 0
            &.selected
                background-color: #eef
            &:hover
                background-color: #eee

    .detail
        padding: 1em
        background: #fafafa
        width: 100%
        overflow: hidden

    .arrow
        stroke: black

    .rightArrow
        @extend .arrow

    .leftArrow
        @extend .arrow
        transform: rotate(180deg)

.rdap
    // padding: 0 0.5em
    padding-top: 0.5em
    font-family: $detail-font
    table
        border-collapse: collapse
    td
        padding: 0 0.15em
    td:first-child
        vertical-align: top
        font-family: $title-font
        color: rgb(140, 140, 140)
        text-align: right
        padding-right: 1em

    .spacer td
        padding: 0.2em

.versions
    white-space: nowrap
    overflow: scroll
    height: 100%

    .version
        display: inline-block
        padding: 0 0.7em

        .period
            margin-left: 2em
            font-weight: bold

    .version:first-child .diff
        border-left: none
    .diff
        display: inline-block
        border-left: 1px dashed black
        padding-left: 1.2em
        margin: 1em
        white-space: pre
        font-family: $fixed-font
        font-size: 80%
        vertical-align: top

        .changed
            background-color: #ffffdd
        .added
            background-color: #ddffdd
        .removed::before
            margin-left: -1.1em
            position: relative
            top: -0.6em
            content: '▶'
            color: #cc4444
        .removed
            height: 2px
            display: block
            background-color: #cc4444

.clearfix
    clear: both

.timeline
    width: 100%
    height: 1em
    stroke: none

    .empty
        fill: #eee

    .existed
        stroke: #999
        fill: $existed
        &:hover
            fill: lighten($existed, 10%)

=floaty($char)
    td:first-child:before
        width: 1em
        content: $char
        float: left
        text-align: left

.diff-modified
    background-color: #ffffdd
    +floaty("!")
.diff-new
    background-color: #ddffdd
    +floaty("+")
.diff-unchanged
    +floaty(" ")
